*.pyc
*.json
.vscode
__pycache__
src/AIs/404.py
src/AIs/520.py
src/AIs/666.py
src/AIs/777.py
src/AIs/996.py
src/AIs/2333.py
src/AIs/delta.py
src/AIs/india.py
src/AIs/juliet.py
src/AIs/oscar.py
src/AIs/papa.py
src/AIs/victor.py
src/AIs/yankee.py
